.nem {
    width: 90%;
    height: 375px;
    position: relative;
    left: 5%;
    background-color: #007;
    margin-bottom: 15px;
    display: flex;
}

.nem h1 {
    text-align: center;
    font-size: 300%;
    font-family: serif;
    color: crimson;
    position: absolute;
    left: 40%;
    margin-top: 0px;
}

.nem input {
    position: absolute;
    top: 45%;
    font-size: 36px;
    color: red;
    font-weight: 800;
    background-color: #007;
}

.vip {
    width: 24%;
    height: 300px;
    position: relative;
    top: 55px;
    margin-left: 4%;
    background-color: #33f;
    border-radius: 16px;
    transition: 0.7s;
}
.vip:hover {
    transform: scale(1.07);
}

.vip img {
    border-radius: 50%;
    position: relative;
    left: 12.5%;
    top: 6px;
}

.vip p {
    text-align: center;
    color: aliceblue;
    font-size: 150%;
    font-weight: 700;
}


.start {
    font-size: 30px;
    font-family: Comic Sans MS;
    text-align: center;
}
#start1 {
    color: crimson;
}
#start2 {
    position: relative;
    left: -500px;
    font-size: 80px;
    color: black;
}
#start3 {
    color: coral;
}